<div class="container-fluid">
  <div class="jumbotron">
    <h1>FORM VALIDATION</h1>
    <button class="btn btn-primary" id="color">SIGN UP</button>
  </div>
  <div class="container">
    <form (ngSubmit)="formSubmit()">
      <input type="text" name="username" class="form-control"  [(ngModel)]="user.username" placeholder="username"><br>
      <input type="email" name="email" class="form-control" [(ngModel)]="user.email" placeholder="email"><br>
      <input type="password" name="password" class="password" [(ngModel)]="user.password" placeholder="password"><br><br>
      <button type="submit" name="submit" class="btn btn-info">LOG IN</button>
    </form>
  </div>

</div>